src/GeneratedXML/ex1-blob.xsd

<!DOCTYPE xs:schema [
        <!ELEMENT xs:schema (xs:element)*>
        <!ATTLIST xs:schema
                attributeFormDefault CDATA #REQUIRED
                elementFormDefault CDATA #REQUIRED
                xmlns:xs CDATA #REQUIRED>
        <!ELEMENT xs:element (xs:annotation|xs:complexType)*>
        <!ATTLIST xs:element
                maxOccurs CDATA #IMPLIED
                minOccurs CDATA #IMPLIED
                name CDATA #REQUIRED
                type CDATA #IMPLIED>
        <!ELEMENT xs:annotation (xs:documentation)*>
        <!ELEMENT xs:documentation (#PCDATA)>
        <!ELEMENT xs:complexType (xs:sequence|xs:attribute|xs:simpleContent)*>
        <!ELEMENT xs:sequence (xs:element)*>
        <!ELEMENT xs:attribute (#PCDATA)>
        <!ATTLIST xs:attribute
                name CDATA #REQUIRED
                type CDATA #REQUIRED
                use CDATA #IMPLIED>
        <!ELEMENT xs:simpleContent (xs:extension)*>
        <!ELEMENT xs:extension (xs:attribute)*>
        <!ATTLIST xs:extension
                base CDATA #REQUIRED>
        ]>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="MagitRepository">
    <xs:annotation>
      <xs:documentation>edited with XMLSpy v2008 rel. 2 (http://www.altova.com) by mazuki (darksiderg)</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="location"/>
        <xs:element name="MagitBlobs">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="MagitBlob" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="name"/>
                    <xs:element type="xs:string" name="last-updater"/>
                    <xs:element type="xs:string" name="last-update-date"/>
                    <xs:element type="xs:string" name="content"/>
                  </xs:sequence>
                  <xs:attribute type="xs:byte" name="id" use="optional"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="MagitFolders">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="MagitSingleFolder" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="last-updater"/>
                    <xs:element type="xs:string" name="last-update-date"/>
                    <xs:element type="xs:string" name="name" minOccurs="0"/>
                    <xs:element name="items">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="item" maxOccurs="unbounded" minOccurs="0">
                            <xs:complexType>
                              <xs:simpleContent>
                                <xs:extension base="xs:string">
                                  <xs:attribute type="xs:string" name="type" use="optional"/>
                                  <xs:attribute type="xs:byte" name="id" use="optional"/>
                                </xs:extension>
                              </xs:simpleContent>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute type="xs:byte" name="id" use="optional"/>
                  <xs:attribute type="xs:string" name="is-root" use="optional"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="MagitCommits">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="MagitSingleCommit" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="root-folder">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute type="xs:byte" name="id" use="optional"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                    <xs:element type="xs:string" name="message"/>
                    <xs:element type="xs:string" name="author"/>
                    <xs:element type="xs:string" name="date-of-creation"/>
                    <xs:element name="preceding-commits" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="preceding-commit">
                            <xs:complexType>
                              <xs:simpleContent>
                                <xs:extension base="xs:string">
                                  <xs:attribute type="xs:byte" name="id"/>
                                </xs:extension>
                              </xs:simpleContent>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute type="xs:byte" name="id" use="optional"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="MagitBranches">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="head"/>
              <xs:element name="MagitSingleBranch" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="name"/>
                    <xs:element name="pointed-commit">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute type="xs:byte" name="id" use="optional"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute type="xs:string" name="name"/>
    </xs:complexType>
  </xs:element>
</xs:schema>